<div class="flex justify-between items-center mb-6">
  <h1 class="text-3xl font-bold text-gray-900 dark:text-gray-100">
    Wolfpack Games
  </h1>

  <%= link_to "Create Game", new_game_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
</div>

<div class="game-list overflow-x-auto">
  <table class="w-full table-fixed bg-white dark:bg-gray-800 rounded-lg shadow">
    <thead>
      <tr>
        <th class="px-6 py-3 border-b border-gray-200 dark:border-gray-700 text-left text-sm font-medium text-gray-600 dark:text-gray-300">
          Time
        </th>
        <th class="px-6 py-3 border-b border-gray-200 dark:border-gray-700 text-left text-sm font-medium text-gray-600 dark:text-gray-300">
          Rink
        </th>
        <th class="px-6 py-3 border-b border-gray-200 dark:border-gray-700 text-left text-sm font-medium text-gray-600 dark:text-gray-300">
          Wolfpack
        </th>
        <th class="px-6 py-3 border-b border-gray-200 dark:border-gray-700 text-left text-sm font-medium text-gray-600 dark:text-gray-300">
          Opponent
        </th>
        <th class="px-6 py-3 border-b border-gray-200 dark:border-gray-700 text-left text-sm font-medium text-gray-600 dark:text-gray-300">
          Score
        </th>
      </tr>
    </thead>

    <tbody>
      <% @games.each_with_index do |game, index| %>
        <% is_last_row = index == @games.size - 1 %>
        <tr class="game-list-item-<%= game.id %> hover:bg-gray-50 dark:hover:bg-gray-700 transition-colors cursor-pointer"
          data-controller="clickable-row"
          data-clickable-row-url-value="<%= game_path(game) %>"
          data-action="click->clickable-row#navigate">
          <% is_home_team = game.home_team == "Wolfpack" %>
          <% wolfpacks_score = is_home_team ? game.home_score : game.away_score %>
          <% other_teams_score = is_home_team ? game.away_score : game.home_score %>
          <td class="px-6 py-4 border-b border-gray-200 dark:border-gray-700 whitespace-nowrap text-gray-800 dark:text-gray-200 <%= 'rounded-bl-lg' if is_last_row %>">
            <%= local_relative_time(game.scheduled_at, type: 'weekday-or-date' ) %> @ <%= local_time(game.scheduled_at, format: '%-I:%M %p') %>
          </td>
          <td class="px-6 py-4 border-b border-gray-200 dark:border-gray-700 whitespace-nowrap text-gray-800 dark:text-gray-200">
            <%= game.rink %>
          </td>
          <td class="px-6 py-4 border-b border-gray-200 dark:border-gray-700 whitespace-nowrap text-gray-800 dark:text-gray-200">
            <%= is_home_team ? "Home" : "Away" %>
          </td>
          <td class="px-6 py-4 border-b border-gray-200 dark:border-gray-700 whitespace-nowrap text-gray-800 dark:text-gray-200">
            <%= [game.home_team, game.away_team].find { |team| team != "Wolfpack" } %>
          </td>
          <td class="px-6 py-4 border-b border-gray-200 dark:border-gray-700 whitespace-nowrap text-gray-800 dark:text-gray-200">
            <% if wolfpacks_score.present? && other_teams_score.present? %>
              <%= wolfpacks_score %> - <%= other_teams_score %> <%= wolfpacks_score > other_teams_score ? "W" : wolfpacks_score == other_teams_score ? "T" : "L" %>
            <% else %>
              Unplayed
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
